<p id="notice"><%= notice %></p>

<h2 class="alert-success">Listing Posts</h2>

<div class="table-responsive">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Title wow</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td width="5px"></td>
        <td><%= post.body %></td>
        <td width="15px"></td>
        <td><%= link_to 'Show', post %></td>
        <td width="5px"></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td width="2px"></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Post', new_post_path %>